
@font-face {
  font-family: 'Arab';
  src: url(http://karror.pythonanywhere.com/media/arabtype.ttf);
}
@font-face {
  font-family: 'Tagettes';
  src: url(http://karror.pythonanywhere.com/media/tagettesMy.ttf);
}