
<link href="https://fonts.googleapis.com/css?family=Dancing+Script|Nunito+Sans" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="http://karror.pythonanywhere.com/media/arabtype.ttf" />
<link rel="stylesheet" type="text/css" href="http://karror.pythonanywhere.com/media/tagettesMy.ttf" />
<style>
@font-face {
  font-family: 'Arab';
  src: url(http://karror.pythonanywhere.com/media/arabtype.ttf) format('truetype');
}

@font-face {
  font-family: 'Tagettes';
  src: url(http://karror.pythonanywhere.com/media/tagettesMy.ttf) format('truetype');
}
</style>

<body>
    <div style="background: url(http://karror.pythonanywhere.com/media/gest.png); display: block; position: relative; width: 100%; max-width: 800px; height: 500px; top: inherit; left: 50%; transform: translateX(-50%);">
        <h1 style="color: #46cd04; text-align: center; font-family: 'Dancing Script'; font-size: 90px; margin: 0.5em 0.5em 0.2em 0.5em;">Dziękujemy</h1>
        <p style="color: #999; text-align: center; font-family: 'Nunito Sans'; font-size: 20px; margin: 2em 4em 4em 4em;">{{obj.mail_text}}</p>
        <a style="color: #000; background: #46cd04; font-family: 'Nunito Sans'; padding: 1em; margin: 2em 37% 0 37%; border-radius: 5px; text-decoration: none; font-size: 40px" href="{{obj.link}}">Zdjęcia</a>
    </div>
</body>
