
<link href="http://karror.pythonanywhere.com/media/fonts.css" rel="stylesheet" type="text/css" />
<body>
    <div style="background: url(http://karror.pythonanywhere.com/media/gest.png); display: block; position: relative; width: 100%; max-width: 800px; height: 500px; top: inherit; left: 50%; transform: translateX(-50%);">
        <h1 style="color: #46cd04; text-align: center; font-family: Tagettes; font-size: 50px; margin: 1em 1em 0.5em 1em;">Dziękujemy</h1>
        <p style="color: #999; text-align: center; font-family: Arab; font-size: 20px; margin: 2em 4em 4em 4em;">{{obj.mail_text}}</p>
        <a style="color: #000; background: #46cd04; font-family: Arab; padding: 1em; margin: 2em 37% 0 37%; border-radius: 5px; text-decoration: none; font-size: 40px" href="{{obj.link}}">Zdjęcia</a>
    </div>
</body>
